#root {
  position : absolute;
  top : 0;
  bottom : 0;
  right : 0;
  left :0;
}
/*

#top_notch, #bottom_notch {
  position : absolute;
  display : none;
  width : 100%;
  right: 0;
  left : 0;
}

#top_notch {
  top : 0;
}

#bottom_notch {
  bottom : 0;
}

.viewport-mode #top_notch, .viewport-mode #bottom_notch {
  display : inline-block;
}


.viewport-mode {
  box-sizing:border-box;
  overflow : hidden;
  position : relative;
  margin : auto;
  display : inline-block;
  max-width : calc(375px + 20px);
  min-width : calc(375px + 20px);
  max-height : calc(812px + 20px);
  min-height : calc(812px + 20px);
  border : 10px black solid;
  border-radius: 30px;
}

#activate-viewport {
  position : absolute;
  bottom : 30px;
  right : 30px;
  display : inline-block;
  width : 100px;
  height : 50px;
}
*/